<mat-toolbar color="primary">
  <div class="logo-container">
    <img src="assets/images/TechRise.svg" alt="TechRise Logo" class="logo" />
    <span class="logo-text">TechRise</span>
  </div>

  <div class="spacer"></div>

  <div class="desktop-nav" *ngIf="!isMobileView">
    <button mat-button>About Us</button>
    <button mat-button>Pricing</button>

    <ng-container *ngIf="isAuthenticated$ | async; else notAuthenticated">
      <button
        mat-button
        [matMenuTriggerFor]="userMenu"
        class="user-menu-button"
      >
        <img
          [src]="(currentUser$ | async)?.avatar || 'assets/images/avatar.jpg'"
          class="user-avatar"
        />
        <span class="username">{{ (currentUser$ | async)?.username }}</span>
      </button>
      <mat-menu #userMenu="matMenu">
        <button mat-menu-item (click)="navigateTo('/profile')">
          <mat-icon>person</mat-icon>
          <span>Profile</span>
        </button>
        <button mat-menu-item (click)="navigateTo('/profile', { edit: true })">
          <mat-icon>edit</mat-icon>
          <span>Edit Profile</span>
        </button>
        <button mat-menu-item (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
          <span>Log Out</span>
        </button>
      </mat-menu>
    </ng-container>

    <ng-template #notAuthenticated>
      <button mat-button (click)="navigateTo('/login')">Sign In</button>
    </ng-template>
  </div>

  <button
    *ngIf="isMobileView"
    (click)="toggleSidenav()"
    mat-icon-button
    class="mobile-menu-button"
  >
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>

<router-outlet *ngIf="!isMobileView; else mobileNavBar"></router-outlet>

<!-- Mobile Sidenav (Rendered only on mobile) -->
<ng-template #mobileNavBar>
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="over" position="end" class="mobile-sidenav">
      <mat-nav-list>
        <a mat-list-item>About Us</a>
        <a mat-list-item>Pricing</a>

        <ng-container
          *ngIf="isAuthenticated$ | async; else mobileNotAuthenticated"
        >
          <a mat-list-item routerLink="/profile" (click)="sidenav.close()">
            <mat-icon>person</mat-icon>
            <span>Profile</span>
          </a>
          <a mat-list-item routerLink="/profile" (click)="sidenav.close()">
            <mat-icon>edit</mat-icon>
            <span>Edit Profile</span>
          </a>
          <a mat-list-item (click)="logout(); sidenav.close()">
            <mat-icon>exit_to_app</mat-icon>
            <span>Log Out</span>
          </a>
        </ng-container>

        <ng-template #mobileNotAuthenticated>
          <a mat-list-item routerLink="/login" (click)="sidenav.close()"
            >Sign In</a
          >
        </ng-template>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-template>
