.profile-header {
  background: url('../../../assets/images/profile-bg.png');
  height: 16rem;
  position: absolute;
  width: 100%;
}

.avatar {
  width: 14rem;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid white;
}
.profile-container {
  min-height: calc(100vh - 64px);
}

.edit-profile-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.edit-button {
  background-color: #ececec;
  font-weight: 400;
}

.info-text {
  text-align: start;
  display: flex;
  flex-direction: column;
}

.info-label {
  font-family: 'Nunito Sans';
  font-size: 16px;
  font-weight: 400;
  color: #7a7a7a;
  margin-bottom: 0.5rem;
}

.info-value {
  font-family: 'Nunito Sans';
  font-size: 18px;
  font-weight: 500;
  color: #545454;
}

::ng-deep .mat-mdc-card-header {
  padding: 16px 0 !important;
  border-bottom: solid 1px #e5e5e5;
}

.profile-details {
  display: flex;
  padding: 8rem 0;
  gap: 1rem;
  justify-content: center;
}

.avatar-card {
  padding: 0;
}

@media (max-width: 767px) {
  .profile-details {
    flex-direction: column;
    gap: 0;
  }
  .profile-card {
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .avatar-card {
    align-items: center;
    position: relative;
    background: white;
    // padding: 20px 20px 0px 20px;

  }
  .profile-details {
    padding: 2rem;
  }
  .edit-profile-container {
    justify-content: flex-end;
    margin: 0 5px 30px 5px;
  }
  .edit-button {
    background-color: #1a78a7 !important;
    color: white !important;
    border: solid 1px #ffffff;
  }

  .profile-container {
    text-align: center;
  }

  .profile-header {
    background-size: cover;
    height: 200px;
    position: relative;
    margin-bottom: -160px;
  }


  .avatar {
    width: 160px;
    height: 160px;
    position: absolute;
    top: -80px;
    left: 50%;
    transform: translateX(-50%);
  }
}
